<h1>Picture Details for Picture # <%= @picture.id %></h1>

<%= link_to("Delete this picture", "http://localhost:3000/delete_picture/#{@picture.id}") %>


<%= image_tag(@picture.source, :width => 200) %>


<p><%= @picture.caption %></p>

