<h1>Picture Details for Picture # <%= @picture.id %></h1>

<%= link_to("Delete this picture", picture_url(@picture.id), :method => "delete") %>


<%= image_tag(@picture.source, :width => 200) %>


<p><%= @picture.caption %></p>

